*{
    margin: 0;
    padding: 0;
}


.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* border: 2px solid; */
}
.counterdiv{
width: 40vw;
border: 1 px solid grey;
padding: 10px;
background-color: #2F4F4F;
color: whitesmoke;
text-align: center;
border-radius: 8px;
}
.counterdiv > *{
   margin: 15px;
}
.count{
    font-size: 50px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 12px;
    
}
 .buttons button{
    margin: 0 12px;
    padding: 5px ;
   font-size: 20px;
   /* font-weight: 550; */
   line-height: 25px;
   /* color: white; */
   border: none;
   outline: none;
   border-radius: 5px;
   cursor: pointer;
 } 
 .sub{
    background-color: rgb(15, 24, 57);
    color: white;
 }
 .reset{
    background-color: #E6E6FA;
 }
 .add{
    background-color: rgb(172, 213, 254);
 }



